body {
  margin: 0;
  font-family: Roboto;
}

#app-container {
  width: 100%;
  overflow: hidden;
}

#chat-container {
  background-color: #b8b8b8;
  padding-left: 9px;
  position: fixed;
  bottom: 0;
  right: 0;

  z-index: 10;
  transition: width 2s ease;
}

.cb {
  margin-right: 9px;
  width: 265px;     /* Ancho de cada Chat 211px */
  height: 26px;
  float: right;
  transition: .3s ease;
  position: relative;
}

.img-holder {
  display: none;
}

.cb-hide {
  margin: 0 !important;
  float: right;
  width: 100%;
  overflow: hidden;
  /*left: 9px;*/
  transition: none;
  z-index: -20;
}

.cb-hide .cb-input{
  display: none !important;
}

.cb-hide .chat-box-max{
  height: 26px !important;
}

.ce {
  padding-right: 9px;
  width: 34px;
  height: 26px;
  float: left;
  position: relative;
}

.ce-select {
  position: absolute;
  background-color: #88c786;
  width: 150px;

  z-index: 20;
}

.chat-excess {
  width: 34px;
  height: 100%;
  background-color: #154f2f;
  bottom: 0;
}

.chat-excess p {
  margin: 0;
  padding-top: 3px;
  font-weight: bold;
  text-align: center;
}

.chat-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  /* animacion para abrir y cerrar chat
  transition: .1s ease; */
  overflow: hidden;
}

.btn-quit {
  text-align: center;
  font-weight: bold;
  width: 20px;
  height: 100%;
  background-color: #2c3e50;
  float: right;
}

.chat-box-max {
  height: 340px;
}

.cb-head {
  width: 100%;
  height: 26px;
  background-color: #1c6c41;
  font-weight: bold;
  z-index: 10;
}

.chat-box.chat-box-max .cb-input {
  display: inherit;
}

.cb-bhback {
  width: 100%;
  position: absolute;
       top: 26px; /* Header Height */
       bottom: 45px; /* Footer Height */
       width: 100%;
  background-color: #9f22d2;
}

.cb-hback {
  position: relative;
  width: 100%;
  height: 100%;

  max-height: 100%;
  min-height: 80%;
  transition: min-height 0.15s ease-out;

  background-color: #6C7A89;
  overflow-y: auto ;
  overflow-x: hidden;
}

.hist-alert {
  position: relative;
  width: 100%;
  height: 0%;
  max-height: 20%;
  transition: min-height 0.15s ease-out;

  z-index: 10;
  background-color: #666666;
  overflow: hidden;
}

.show-alert .cb-hback {
  height: 80%;
}

.show-alert .hist-alert{
  height: 20%;
}

.cb-hist {
  width: 194px;  /* Ancho del Chat menos el ancho del scroll*/
  height: 100%;
  margin-left: 48px; /* Margen para la imagen del emisor */
}

.cb-input {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #1c6c41;
}

.cb-form {
  height: 100%;
  overflow: hidden;
}

.cb-hist .msg-group:first-of-type {
  margin-top: 12px;
}

span.indiv{
  display: block;
  width: auto;
  max-width: 100%;
  margin-bottom: 1px;
}

span.msg-group {
  width: auto;
  max-width: 90%;
  margin-bottom: 9px;
}

span.msg-group img {
  position: absolute;
  left: -40px;
  bottom: 7px;
  border-radius: 7px;

  width: 30px;
  height: 30px;
}

span.msg-group.m-rcv {
  min-height: 35px;
}

span.msg-group.m-rcv .indiv:first-of-type {
  margin-top: 6px;
}

.cb-hist-msg {
  display: inline-block;
  width: auto;
  min-width: 20%;
  max-width: 100%;
  min-height: 5px;
  border-radius: 5px;
  font-size: 12px;
}

span.m-send, span.m-send .indiv {
  float: right !important;
  clear: both;
}

span.m-rcv, span.m-rcv .indiv {
  float: left !important;
  clear: both;
  position: relative;
}

.m-send .cb-hist-msg{
  background-color: #c0c5d1;
}

.m-rcv .cb-hist-msg{
  background-color: #76828f;
}

.cb-hm-text {
  margin: 3px 5px;
  word-wrap: break-word;
}

.cb-input input{
  width: 100%;
  height: 100%;
  resize: none;
  font-family: Roboto;
  font-size: 14px;
}

.hide {
  display: none;
  overflow: hidden;
}

/* Sign in Styles NEXT */

#sign-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 340px;
  height: 200px;
  background-color: #1a1d1b;
  display: none;
}

#sign-form {
  margin-left: 70px;
  margin-top: 50px;
}

#sign-container input {
  display: block;
  margin-bottom: 9px;
}
